/* CSS Document */
body {
  background-color: #212529
}
.padme-t70 {
  padding-top: 70px;
}
.bg-darker {
  background-color: #212529
}
.cover {
  object-fit: cover;
}
.bg-darkg {
  background-color: #343a40 !important;
}
.border-dark {
  border-color: #343a40 !important;
}
.col-sort {
  background-color: cornflowerblue !important;
  color: #282828;
}
    .tbody-scroll-orders {
      display: block;
      height: 400px;
      overflow: auto;
    }

    .tbody-scroll-history {
      display: block;
      max-height: 600px;
      overflow: auto;
    }

    .tbody-scroll-nodes {
      display: block;
      max-height: 600px;
      overflow: auto;
    }
    thead,
    tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }
    .btn-rb,
    .btn-rb:hover,
    .btn-rb:active,
    .btn-rb:visited {
      background: linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      border-style: solid;
      border-width: 1px;
      border-image: linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82) 1;
    }

    .border-rb {
      border-style: solid;
      border-width: 1px;
      border-image: linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82) 1;
    }

    .background-rb {
      background: linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
      color: #000;
      border: none;
    }