html,

body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #B5C7DD;
}

.form-signin {
  /*width: 100%;*/
  max-width: 500px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  width: 230px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.btn-form {
	width: 170px;
	height: 100%;
}
.btn-get {
	height: 100%;
	width: 100%;
}
a {
	color: #033EFD;
}