{% extends "base.html" %} {% block title %}Page not found{% endblock %} {% block body %}
<style type="text/css">
    body{
		background-color: #222222;
		color: #fff;
		font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
		font-size: 1.5em;
	}
	a {
		color: coral;
	}
</style>
<center>
<h1>Error: 404 Page Not Found</h1>
<img src="/dlux-io/public/img/robotolux.png" width="200" alt="robotolux">
<p>That page doesn't exist.<br>We have plenty of other pages to browse though.</p>
<a href="https://dlulx.io">DLUX HOMEPAGE</a>
</center>

{% endblock %}