{% extends "base.html" %} {% block title %}Error{% endblock %} {% block body %}
<style type="text/css">
    body{
		background-color: #222222;
		color: #fff;
		font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
		font-size: 1.5em;
	}
	a {
		color: coral;
	}
</style>
<center>
<h1>Error: 500 Unexpected Error</h1>
<img src="/dlux-io/public/img/robotolux.png" width="200" alt="robotolux">
<p>An error occured and your request could not be completed.<br>If you followed a link and receive this message, please refresh the page in 5-10 seconds.</p>
<a href="https://dlulx.io">DLUX HOMEPAGE</a>
</center>
{% endblock %}